:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}

.location-btn {
  display: block;
  margin: auto;
  margin-top: 1em;
}

.col {
  display: inline-block;

  vertical-align: top;
  padding-top: 8em;

  flex: 1;

  font-weight: bold;
}

.main-word {
  font-size: 5em;

  font-weight: bold;
  font-family: "Archivo Black", "Archivo", sans-serif;
}

.container {
  margin-top: 0.5em;

  display: flex;
  height: calc(100vh - 9.5em);
}

.conditional-btn {
  height: 3em;
  width: 11em;

  font-size: 1.5em;
  font-weight: bold;
  font-family: "Archivo Black", "Archivo", sans-serif;
}

#root {
  text-align: center;
}

#search-div:hover, #map-div:hover {
  /* background-color: grey; */
  cursor: pointer;
  opacity: 0.7;
}

#search-div {
  background-color: #7B68EE;
}

#map-div {
  /* background-color: #DC143C; */
  background-color: rgb(230, 30, 60);
}

#locations-div {
  margin-top: 2em;
  margin-bottom: 2em;
}

#form-div {
  margin-top: 3em;
}

#map {
  width: 80%;
}

#title {
  color: black;
  animation: neon 3s infinite;

  font-size: 5.5em;
  text-transform: uppercase;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}

#back-btn {
  position: fixed;
  bottom: 2em;
  left: 28.5em;

  background-color: #DC143C;
}

#continue-btn {
  position: fixed;
  bottom: 2em;
  left: 40.5em;

  height: 3em;
  width: 11em;

  background-color: #228B22;
}


p {
  font-size: 1.5em;
  font-family: Georgia, Serif;
}

ul {
  font-size: 1.5em;
  font-family: Georgia, Serif;
  margin-left: -1em;
  list-style-position: inside;
}

li {
  margin: 0.5em 0;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Archivo", sans-serif;

  background: url("https://t3.ftcdn.net/jpg/02/38/18/34/360_F_238183482_nR674OSOksAw7UQAEI56j8wBJpnPMYm0.jpg") no-repeat center center fixed;

  height: 100%;
  /* background: #20B2AA; */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }

  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}