/* welcome page */
.title {
  color: black;
  animation: neon 3s infinite;

  font-size: 5.5em;
  text-transform: uppercase;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}

.container {
  margin-top: 0.5em;
  display: flex;
  height: calc(100vh - 9.5em);
}

.col {
  display: inline-block;
  vertical-align: top;
  padding-top: 8em;
  flex: 1;
  font-weight: bold;
}

.main-word {
  font-size: 5em;
  font-weight: bold;
  font-family: "Archivo Black", "Archivo", sans-serif;
}

#search-div {
  background-color: #7B68EE;
}

#map-div {
  background-color: #F08080;
}

#search-div:hover, #map-div:hover {
  cursor: pointer;
  opacity: 0.7;
}

#cc-link {
  color: white;
  text-decoration: none;
}

#cc-link:hover {
  text-decoration: underline;
}

p {
  font-size: 1.5em;
  font-family: Georgia, Serif;
}

ul {
  font-size: 1.5em;
  font-family: Georgia, Serif;
  margin-left: -1em;
  list-style-position: inside;
}

li {
  margin: 0.5em 0;
}

/* search page */
.location-btn {
  display: block;
  font-size: 1.5em;
  height: 2.5em;
  width: 30em;
  margin: auto;
  margin-top: 2em;
  cursor: pointer;
}

#location-btn-selected {
  border: solid;
}

#form-div {
  margin-top: 3em;
}

#text-entry {
  height: 2em;
  width: 25em;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

#text-entry-btn {
  background-color: #A9A9A9;
  height: 4em;
  width: 15em;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}

#locations-div {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* slideshow */
.slideshow {
  margin: 0 auto;
  margin-top: 1em;
  overflow: hidden;
  width: 1200px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1s;
}

.slide {
  display: inline-block;
  width: 100%;
}

.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  cursor: pointer;
  margin: 1em 0.5em 0em;
  background-color: white;
}

.slideshowDot.active {
  background-color: black;
}

/* slideshow data (individual slide data) */
.chart-container {
  margin: 0 auto;
}

.side-text {
  transform: rotate(-90deg);
  position: absolute;
  left: 6em;
  top: 15em;
  text-transform: uppercase;
  font-family: Helvetica;
  color: white;
  font-size: 1.5em;
  
  animation-name: smooth;
  animation-duration: 1s;
}

.current-temp-slide {
  position: absolute;
  top: 0;

  height: 37.5em;
  width: 100%;
}

.half-temp-slide {
  display: inline-block;
  vertical-align: top;

  width: 49.5%;
  height: 100%;
}

.temp-circle {
  margin: 0 auto;
  height: 30em;
  width: 30em;
  background-color: #87CEFA;

  border: solid;
  border-radius: 50%;
}

.change-unit {
  margin-top: 0.5em;
}

.change-unit-text {
  font-size: 3em;
}

.change-unit-text:hover {
  cursor: pointer;
  opacity: 0.7;
}

.forecast-data {
  font-size: 2em;
  margin-top: 1em;
}

.weather-description {
  font-size: 2.5em;
  text-decoration: underline;

  font-family: Georgia, Serif;
}

#temp-text {
  font-size: 7em;
  /* margin-top: 2em; */
  margin-bottom: 0.4em;
}

#unit-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 7em;
}

@keyframes smooth {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

/* general */
.conditional-btn {
  height: 3em;
  width: 11em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Archivo Black", "Archivo", sans-serif;
  cursor: pointer;
}

#back-btn {
  background-color: #DC143C;
  position: fixed;
  bottom: 2em;
  left: 28.5em;
}

#home-btn {
  background-color: #DC143C;
  position: fixed;
  bottom: 2em;
  left: 34.2em;
}

#continue-btn {
  background-color: #228B22;
  position: fixed;
  bottom: 2em;
  left: 40.5em;
  height: 3em;
  width: 11em;
}

#root {
  text-align: center;
}

:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}

/* html */
html, body { 
  margin: 0px;
  padding: 0px;
  font-family: "Archivo", sans-serif;
  height: 100%;
  overflow: hidden;

  background: url("https://t3.ftcdn.net/jpg/02/38/18/34/360_F_238183482_nR674OSOksAw7UQAEI56j8wBJpnPMYm0.jpg") no-repeat center center fixed;
  background-size: cover; 
}

/* title text styling */
@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }

  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}